*{
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container-wiki{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  } 

.searchbar .btn-search{
  width: 10rem;
  height: 10rem;
}

.results{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.cards{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 0.625rem;
  margin-top: 3rem;
  border-radius: 8px;
}

.results h1{
  margin-top: 2rem;
  margin-left: 1rem;
}

.results p{
 width: 20vw;
 margin-left: 1rem;
}

a{
  text-decoration: none;
  margin-left: 1rem;
}

.img-wiki{
  width: 12vw;
  height: 25vh;
}

.form-control{
  margin-top: 2rem;
}

.form-control input{
  border-radius: 5px;
  font-size: 1rem;
}

.form-control button{
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1rem ;
}

@media screen and (max-width: 576px) {
  .results{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2rem;
  }

  h1{
    font-size: 40px;
  }

  .form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-control input{
    height: 4rem;
    font-size: 1.5rem;
  }

  .form-control button{
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .cards p{
    font-size: 24px;
    width: 80vw;
  }

  .img-wiki{
    width: 40vw;
  }
}